body {
    background-color:#00FA9A; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body expands to at least the height of the viewport */
}


header {
    background-color:rgb(246, 239, 220);
    color: #fff; /* White text color */
    padding: 20px; /* Add padding to create space around the content */
    display: flex; /* Use flexbox for layout */
    flex-direction: row;
    justify-content: center; /* Center horizontally */
}

header img {
    max-width: 20%; /* Ensures the image doesn't exceed the container width */
    height: auto; /* Maintains the aspect ratio */
}

.container {
    max-width: 550px;
    margin: 5% auto; /* auto: Center the container horizontally */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: rgb(211, 237, 244);
}

.container h2 {
    color: #1096e4;
}

label {
    font-weight: bold; 
}

input[type="number"], input[type="text"], input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width */
}

button {
    width: 150px;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #1096e4; /* Orange background color */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
    float: right;
}

button:hover {
    background-color: #ff8000; /* Darker orange on hover */
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00FA9A;
}

footer {
    background-color: #333; /* Dark background color for the footer */
    color: #fff; /* White text color */
    padding: 20px; /* Add padding to create space around the content */
    text-align: center; /* Center align the text */
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%; /* Full width */
}

footer a {
    color: #fff; /* White text color for links */
 }

.social-links {
    margin-top: 10px;
}

.social-links a{
    margin-right: auto;
}


